

<div style="padding: 20px">
    <h1>Add Contact</h1>
    <label for="nameBox" class="label badge-info">Name:</label><br/>
    <input type="text" id="nameBox" ng-model="nameBox"><br/>
    <label for="phoneBox" class="label badge-info">Phone:</label><br/>
    <input type="text" id="phoneBox" ng-model="phoneBox"><br/>
    <label for="addressBox" class="label badge-info">Address:</label><br/>
    <input type="text" id="addressBox" ng-model="addressBox"><br/>
    <button class="btn-info" ng-click="addContact()" id="saveBtn">Save</button>
</div>